language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '12'
  - '10'
script:
  - npm run build
after_success:
  - npm run release
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN
  local_dir: ./example/build
  on:
    branch: master
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
